* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 !important;
  }
  .menu {
    width: 100% !important;
    height: auto !important;
    ul {
      flex-direction: row !important;
    }
  }
  .content {
    padding-left: 0rem !important;
    .info {
      padding: 2rem 1rem !important;
    }
    .news-layout {
      flex-direction: column;
    }
    .footer {
      padding: 1rem !important;
    }
  }
}

.container {
  padding: 0 4rem;
}

.layout {
  .menu {
    background-color: #191718;
    color: white;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 1;
    width: 6rem;
    ul {
      display: flex;
      flex-direction: column;
      li {
        padding: 1rem;
        list-style-type: none;
        cursor: pointer;
        border-bottom: 1px solid white;
        transition: all ease 0.3s;
        &:hover {
          background-color: #5c5c5c;
        }
      }
    }
  }
  .content {
    padding-left: 6rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    .logo {
      padding-top: 1rem;
    }
    .info {
      margin-top: 3rem;
      padding: 3rem 10rem;
      background-color: #efefef;
      .title {
        color: #000000;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }
    .news-layout {
      display: flex;
      .blog {
        padding: 1rem;
        text-align: left;
        .title {
          font-weight: 700;
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
        }
        .more {
          img {
            float: left;
          }
        }
      }
    }
  }
  .footer {
    border-top: 1px solid #dedede;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
